*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Variables */
:root {
}
/* Hiding TopBar Main*/
.Hiding-TopBar {
  background-color: #e8e8cc;
  height: 30px;
  text-align: center;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Text Inside Hiding top bar */
.Notice {
  width: max-content;
  margin: auto;
  color: red;
  font-size: 20px;
}

/* Sticky Nav Bar */
.Sticking-TopBar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffcc1d;
  overflow: hidden;
  display: block;
  height: 80px;
  align-items: center;
  align-content: center;
}
/* Navbar Logo */
.Logo {
  width: 70px;
  margin: 0.5em 10%;
}
.Log-Sign-Btn {
  float: right;
  margin: 20px 10%;
  display: inline;
  padding: 5px;
}
.btn {
  text-decoration: none;
  border: none;
  text-align: center;
  padding: 10px 32px;
  background-color: #cc704b;
  border-radius: 30px;
  color: Black;
  margin: auto 5px;
  cursor: pointer;
  font-size: 20px;
}
.Intro {
  background-color: #0b4619;
  height: 100vh;
}
@media (min-width: 1000px) {
  .Intro-Part {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px 20% 20px 20%;
    align-items: center;
  }
  .circular-image {
    position: relative;
    overflow: hidden;
    width: max-content;
    background-color: aqua;
    border-radius: 200px;
    transform: translateX(-50%);
  }
  .circular-image .active {
    position: relative;
    overflow: hidden;
    width: max-content;
    background-color: aqua;
    border-radius: 200px;
    transform: translateX(0);
  }
  .reveal {
  }
  /* animation-name: ImageMove;
    animation-duration: 0.5s;
    animation-timing-function: ease;
  }
  @keyframes ImageMove {
    from {
      right: 50%;
    }
    to {
    }
  } */
  .cir-img {
    width: 400px;
  }
  .desc {
    text-align: left;
    font-size: 15px;
    animation-name: decMove;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in;
  }
  @keyframes decMove {
    from {
      position: relative;
      left: 70%;
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.Footer {
  background-color: pink;
  height: 150px;
}
